<%= simple_form_for(@cliente) do |f| %>
    <% if @cliente.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

          <ul>
            <% @cliente.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <label>
        <%= f.check_box :pessoa_juridica, :class => 'checkbox', :checked => true %>
        <span>É Pessoa Jurídica?</span>
      </label>
    </div>

    <%= f.input :empresa, label: 'Nome da Empresa', input_html: { class: 'form-control', placeholder: 'Mères Escritórios Corporativos' },
                wrapper_html: { class: 'form-group', id: 'bloco-empresa' }%>

    <%= f.input :representante, label: 'Nome do Representante',
                input_html: { class: 'form-control', placeholder: 'Eduardo Figueiredo de Oliveira Pinto' }, wrapper_html: { class: 'form-group' } %>

    <div style="text-align: center;">
      <%= f.submit 'Salvar Cliente', :class => "btn btn-success rounded-s", wrapper_html: { class: 'actions' } %>
    </div>

<% end %>

<script>
  var pj = <%= @cliente.pessoa_juridica %>
  jQuery(document).ready(function ($) {
    if( pj ) {
      $("#bloco-empresa").show('fast');
    } else {
      $("#cliente_pessoa_juridica").click();
      $("#bloco-empresa").hide('fast', function() {
      });
    }
  });

  $('#cliente_pessoa_juridica').click(function() {
    if( $(this).is(':checked')) {
      $("#bloco-empresa").show('fast');
    } else {
      $("#bloco-empresa").hide('fast', function() {
        $("#cliente_empresa").val('');
      });
    }
  });
</script>
