<article class="content">
  <div>
    <%= flash_messages %>
  </div>

  <% title "#{titulo_cliente(@cliente)} | Clientômetro - Mères Escritórios Corporativos" %>

  <div class="title-search-block">
    <div class="title-block">
      <div class="row">
        <div class="col-md-6">
          <h3 class="title">
            <%= if !@cliente.nome_fantasia.blank?
                  @cliente.nome_fantasia
                else if @cliente.pessoa_juridica
                       @cliente.empresa
                     else
                       @cliente.representante
                     end
                end%>
          </h3>
          <p class="title-description">
            <%= if !@cliente.nome_fantasia.blank?
                  if @cliente.pessoa_juridica
                    "#{@cliente.empresa} - #{@cliente.representante}"
                  else
                    @cliente.representante
                  end
                end
            %>
        </div>
      </div>
    </div>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <div class="header-block">
              <p class="title">Dados Gerais</p>
            </div>
          </div>
          <div class="card-block">
            <%= if !@cliente.nome_fantasia.blank?
                  @code ="<p>
              <strong>Nome Fantasia:</strong>
              #{@cliente.nome_fantasia}
            </p>".html_safe
                end %>
            <p>
            <%= if @cliente.pessoa_juridica
                  @code ="<p>
              <strong>Empresa:</strong>
              #{@cliente.empresa}
            </p>".html_safe
                end %>
            <p>
              <strong>Representante:</strong>
              <%= @cliente.representante %>
            </p>

            <p>
              <strong>Tipo de Cliente:</strong>
              <%= tipo_cliente(@cliente) %>
            </p>

            <p>
              <strong>Ativo?</strong>
              <%= cliente_ativo?(@cliente) %>
            </p>
          </div>
          <div class="card-footer" style="text-align: center;">
            <div class="btn-group btn-group-sm">
              <%= link_to clientes_path, :class => "btn btn-primary" do %>
                  <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;VOLTAR
              <% end %>
              <%= link_to edit_cliente_path(@cliente), :class => "btn btn-warning" do %>
                  <i class="fa fa-edit"></i>&nbsp;&nbsp;EDITAR
              <% end %>
              <%= link_to @cliente, method: :delete, data: { confirm: 'Tem certeza disso?' }, :class => "btn btn-danger" do %>
                  <i class="fa fa-close"></i>&nbsp;&nbsp;REMOVER
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <div class="header-block">
              <p class="title">Contratos</p>
            </div>
          </div>
          <div class="card-block">
            <% if @cliente.contratos.any? %>
                <% @cliente.contratos.each do |contrato| %>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <%= contrato_ativo?(contrato) %>
                        <%= link_to contrato.plano.nome, contrato, {:style => 'margin: 2px 8px; position: absolute;'} %>
                        <div class="btn-group btn-group-smallest" style="float: right; margin-top: 2px;">
                          <%= link_to 'VER', contrato, :class => "btn btn-primary btn-pill-left" %>
                          <%= link_to 'EDITAR', edit_contrato_path(contrato), :class => "btn btn-warning" %>
                          <%= link_to 'REMOVER', contrato, method: :delete, data: { confirm: 'Tem certeza disso?' }, :class => "btn btn-danger btn-pill-right" %>
                        </div>
                      </div>
                      <div class="panel-body">
                        <div class="dados-contrato"><strong>MENSALIDADE:</strong> <%= humanized_money_with_symbol contrato.preco_atual %> |
                        </div>
                        <div class="dados-contrato"><strong>DATA INICIAL:</strong> <%= contrato.data_inicio ? l(contrato.data_inicio) : "não definida" %> |
                        </div>
                        <div class="dados-contrato"><strong>DATA FINAL:</strong> <%= contrato.data_final ? l(contrato.data_final) : "em aberto" %>
                        </div>
                        <span style="font-size: 12px;">
                      <%= inclui_telefonia?(contrato.plano) %>
                          <%= inclui_endereco_fiscal?(contrato.plano) %>
                          <%= inclui_endereco_comercial?(contrato.plano) %>
                          <%= inclui_sala_privativa?(contrato.plano) %>
                          <%= inclui_coworking?(contrato.plano) %>
                    </span>
                      </div>
                    </div>

                <% end %>
            <% else %>
                <div class="alert alert-info" role="alert">Nenhum contrato encontrado!</div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>