<%= simple_form_for(@plano) do |f| %>
    <% if @plano.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@plano.errors.count, "error") %> prohibited this plano from being saved:</h2>

          <ul>
            <% @plano.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.input :nome, label: 'Nome do Plano', input_html: { class: 'form-control', placeholder: 'Diamond' }, wrapper_html: { class: 'form-group' } %>

    <div class="form-group">
      <label>
        <%= f.check_box :ativo, :class => 'checkbox', :checked => true %>
        <span>O plano se encontra ativo?</span>
      </label>
    </div>

    <fieldset class="form-group">
      <%= f.label :preco_atual, "Preço Atual" %><br>
      <div class="input-group">
        <span class="input-group-addon">R$</span>
        <%= f.text_field :preco_atual, :class => 'form-control' %>
      </div>
    </fieldset>

    <div class="form-group">
      <label class="control-label">Serviços Inclusos</label>
      <div>
        <label>
          <%= f.check_box :inclui_endereco_fiscal, :class => 'checkbox' %>
          <span>Endereço Fiscal</span>
        </label>
        <label>
          <%= f.check_box :inclui_endereco_comercial, :class => 'checkbox' %>
          <span>Endereço Comercial</span>
        </label>
        <label>
          <%= f.check_box :inclui_telefonia, :class => 'checkbox' %>
          <span>Atendimento Telefônico</span>
        </label>
        <label>
          <%= f.check_box :inclui_sala_privativa, :class => 'checkbox' %>
          <span>Horas em Sala Privativa</span>
        </label>
        <label>
          <%= f.check_box :inclui_coworking, :class => 'checkbox' %>
          <span>Posição de Coworking</span>
        </label>
      </div>
    </div>
    <%= f.submit 'Salvar Plano', :class => "btn btn-success rounded-s", wrapper_html: { class: 'actions' } %>
<% end %>