<%= simple_form_for(@contrato) do |f| %>
    <% if @contrato.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@contrato.errors.count, "error") %> prohibited this contrato from being saved:</h2>
          <ul>
            <% @contrato.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset class="form-group">
      <%= f.hidden_field :cliente_id %>
      <%= f.label :cliente_id, "Cliente" %><br>
      <%= text_field_tag :q , "", :id => :busca_cliente, :class => 'form-control' %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.hidden_field :plano_id %>
      <%= f.label :plano_id, "Plano" %><br>
      <%= text_field_tag :q , "", :id => :busca_plano, :class => 'form-control' %>
      <div id="lista_serv">

      </div>
    </fieldset>
    <fieldset class="form-group">
      <%= f.label :preco_atual, "Preço Atual" %><br>
      <div class="input-group">
        <span class="input-group-addon">R$</span>
        <%= f.text_field :preco_atual, :class => 'form-control' %>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <%= f.label :data_inicio, "Data Inicial" %><br>
      <%= f.text_field :data_inicio, :class => 'form-control', placeholder: "06/08/2015" %>
    </fieldset>
    <fieldset class="form-group ">
      <%= f.label :data_final, "Data Final", :style => 'margin-bottom: 0px;' %><br><small class="text-muted">Prazo indeterminado? Deixe em branco!</small><br>
      <%= f.text_field :data_final, :class => 'form-control', placeholder: "06/08/2016" %>
    </fieldset>
    <fieldset class="form-group">
      <%= f.label :periodicidade_meses, "Periodicidade (meses)" %><br>
      <%= f.number_field :periodicidade_meses, :class => 'form-control', placeholder: "6" %>
    </fieldset>

    <%= f.submit 'Salvar Contrato', :class => "btn btn-success rounded-s", wrapper_html: { class: 'actions' } %>
<% end %>

<script type="text/javascript">

  function adicionarServicos(telefonia,endereco_fiscal,endereco_comercial,sala_privativa,coworking) {

    if (telefonia == 'true') {
      var span = document.createElement('span');
      span.className = 'label label-a';
      span.innerHTML = '<i class="fa fa-phone"></i> ATENDIMENTO TELEFÔNICO';
      document.getElementById('lista_serv').appendChild(span);
    }
    if (endereco_fiscal == 'true') {
      var span = document.createElement('span');
      span.className = 'label label-b';
      span.innerHTML = '<i class="fa fa-legal"></i> ENDEREÇO FISCAL';
      document.getElementById('lista_serv').appendChild(span);
    }
    if (endereco_comercial == 'true') {
      var span = document.createElement('span');
      span.className = 'label label-c';
      span.innerHTML = '<i class="fa fa-bank"></i> ENDEREÇO COMERCIAL';
      document.getElementById('lista_serv').appendChild(span);
    }
    if (sala_privativa == 'true') {
      var span = document.createElement('span');
      span.className = 'label label-d';
      span.innerHTML = '<i class="fa fa-cube"></i> SALA PRIVATIVA';
      document.getElementById('lista_serv').appendChild(span);
    }
    if (coworking == 'true') {
      var span = document.createElement('span');
      span.className = 'label label-e';
      span.innerHTML = '<i class="fa fa-group"></i> COWORKING';
      document.getElementById('lista_serv').appendChild(span);
    }

  }

  jQuery(document).ready(function ($) {
    $('#busca_plano').tokenInput("<%= autocomplete_planos_ativos_planos_path %>", {
      searchDelay:2000,
      crossDomain: false,
      tokenLimit: 1,
      theme: "facebook",
      minChars: 3,
      hintText: "Digite um termo para a pesquisa do plano",
      noResultsText: "Nenhum resultado",
      searchingText: "Pesquisando...",
      <%= if !@contrato.new_record?
      "prePopulate: [{id: #{@contrato.plano_id}, name: \"#{@contrato.plano.nome}\"}],".html_safe
      end %>
      onAdd: function(item){
        var texto = item.name;
        var texto_quebrado = texto.split(';');
        var str = texto_quebrado[1] ? texto_quebrado[1] : "000"
        var len = str.length;
        var preco = str.substring(0, len-2) + "," + str.substring(len-2);

        $("#contrato_plano_id").val(item ? item.id : "");
        $("#contrato_preco_atual").val(preco);

        var telefonia = texto_quebrado[2];
        var endereco_fiscal = texto_quebrado[3];
        var endereco_comercial = texto_quebrado[4];
        var sala_privativa = texto_quebrado[5];
        var coworking = texto_quebrado[6];

        adicionarServicos(telefonia,endereco_fiscal,endereco_comercial,sala_privativa,coworking);

      },
      onDelete: function(item){
        $("#contrato_plano_id").val("");
        $("#contrato_preco_atual").val("0,00");
        imagem = true;
      },
      resultsFormatter: function(item) {
        var texto = item.name;
        var texto_quebrado = texto.split(';');

        var nome = texto_quebrado[0];

        return '<li><div class="profile">' +
            '<div class="profile_box">' +
            '<div class="name" id="nome">'+nome+'</div>' +
            '</div></div></li>';
      },
      tokenFormatter: function(item) {
        var texto = item.name;
        var texto_quebrado = texto.split(';');
        var nome = texto_quebrado[0];
        return "<li><p>" + nome +"</p></li>"
      }
    });
    $('#busca_cliente').tokenInput("<%= autocomplete_clientes_clientes_path %>", {
      searchDelay:2000,
      crossDomain: false,
      tokenLimit: 1,
      theme: "facebook",
      minChars: 3,
      hintText: "Digite um termo para a pesquisa do plano",
      noResultsText: "Nenhum resultado",
      searchingText: "Pesquisando...",
      <%= if !@contrato.new_record?
      "prePopulate: [{id: #{@contrato.cliente_id}, name: \"#{@contrato.cliente.empresa.blank? ? @contrato.cliente.representante :
       @contrato.cliente.empresa} - #{@contrato.cliente.representante}\"}],".html_safe
      end %>
      onAdd: function(item){
        var texto = item.name;
        var texto_quebrado = texto.split(';');

        $("#contrato_cliente_id").val(item ? item.id : "");
      },
      onDelete: function(item){
        $("#contrato_cliente_id").val("");
        imagem = true;
      },
      resultsFormatter: function(item) {
        var texto = item.name;
        var texto_quebrado = texto.split(';');

        var nome = texto_quebrado[0];

        return '<li><div class="profile">' +
            '<div class="profile_box">' +
            '<div class="name" id="nome">'+nome+'</div>' +
            '</div></div></li>';
      },
      tokenFormatter: function(item) {
        var texto = item.name;
        var texto_quebrado = texto.split(';');
        var nome = texto_quebrado[0];
        return "<li><p>" + nome +"</p></li>"
      }
    });
    $("#contrato_data_inicio").mask("99/99/9999");
    $("#contrato_data_final").mask("99/99/9999");
  });
</script>
