<article class="content">
  <div>
    <%= flash_messages %>
  </div>

  <% title "#{@contrato.plano.nome} (#{titulo_cliente(@contrato.cliente)}) | Clientômetro - Mères Escritórios Corporativos" %>


  <div class="title-search-block">
    <div class="title-block">
      <div class="row">
        <div style="float:right; margin-right: 14px;">
          <div class="btn-group btn-group-sm">
            <%= link_to contratos_path, :class => "btn btn-primary" do %>
                <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;VOLTAR
            <% end %>
            <%= link_to edit_contrato_path(@contrato), :class => "btn btn-warning" do %>
                <i class="fa fa-edit"></i>&nbsp;&nbsp;EDITAR
            <% end %>
            <%= link_to @contrato, method: :delete, data: { confirm: 'Tem certeza disso?' }, :class => "btn btn-danger" do %>
                <i class="fa fa-close"></i>&nbsp;&nbsp;REMOVER
            <% end %>
          </div>
        </div>
        <div class="col-md-6">
          <h3 class="title">
            <%= "#{@contrato.plano.nome} (#{titulo_cliente(@contrato.cliente)})" %>
          </h3>
        </div>
      </div>
    </div>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <div class="header-block">
              <p class="title">Dados do Contrato</p>
            </div>
          </div>
          <div class="card-block">

            <p>
              <strong>Mensalidade Atual:</strong>
              <%= humanized_money_with_symbol @contrato.preco_atual %>
            </p>

            <p>
              <strong>Data Início:</strong>
              <%= @contrato.data_inicio ? l(@contrato.data_inicio) : "não definida" %>
            </p>

            <p>
              <strong>Data Final:</strong>
              <%= @contrato.data_final ? l(@contrato.data_final) : "em aberto" %>
            </p>

            <%= if !@contrato.periodicidade_meses.blank?
                  @code ="<p>
              <strong>Periodicidade (meses):</strong>
              #{@contrato.periodicidade_meses}
            </p>".html_safe
                end %>
          </div>

          <div class="card-footer" style="text-align: center;">
            <div class="btn-group btn-group-sm">
              <%= link_to contratos_path, :class => "btn btn-primary" do %>
                  <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;VOLTAR
              <% end %>
              <%= link_to edit_contrato_path(@contrato), :class => "btn btn-warning" do %>
                  <i class="fa fa-edit"></i>&nbsp;&nbsp;EDITAR
              <% end %>
              <%= link_to @contrato, method: :delete, data: { confirm: 'Tem certeza disso?' }, :class => "btn btn-danger" do %>
                  <i class="fa fa-close"></i>&nbsp;&nbsp;REMOVER
              <% end %>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <div class="header-block">
              <p class="title">Dados do Plano</p>
            </div>
          </div>
          <div class="card-block">
            <p>
              <strong>Plano:</strong>
              <%= @contrato.plano.nome %>
            </p>

            <p>
              <strong>Valor Atual:</strong>
              <%= humanized_money_with_symbol @contrato.plano.preco_atual %>
            </p>

            <p>
              <strong>Serviços Inclusos:</strong><br>
              <span style="font-size: 14px;">
              <%= inclui_telefonia?(@contrato.plano) %>
                <%= inclui_endereco_fiscal?(@contrato.plano) %>
                <%= inclui_endereco_comercial?(@contrato.plano) %>
                <%= inclui_sala_privativa?(@contrato.plano) %>
                <%= inclui_coworking?(@contrato.plano) %>
            </span>
            </p>
          </div>

          <div class="card-footer" style="text-align: center;">
            <%= link_to @contrato.plano, :class => "btn btn-info btn-sm rounded-s" do %>
                <i class="fa fa-eye"></i>&nbsp;&nbsp;Ver Plano
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <div class="header-block">
              <p class="title">Dados do Cliente</p>
            </div>
          </div>
          <div class="card-block">
            <%= if !@contrato.cliente.nome_fantasia.blank?
                  @code ="<p>
              <strong>Nome Fantasia:</strong>
              #{@contrato.cliente.nome_fantasia}
            </p>".html_safe
                end %>
            <%= if @contrato.cliente.pessoa_juridica
                  @code ="<p>
              <strong>Empresa:</strong>
              #{@contrato.cliente.empresa}
            </p>".html_safe
                end %>
            <p>
              <strong>Representante:</strong>
              <%= @contrato.cliente.representante %>
            </p>

            <p>
              <strong>Tipo de Cliente:</strong>
              <%= tipo_cliente(@contrato.cliente) %>
            </p>
          </div>

          <div class="card-footer" style="text-align: center;">
            <%= link_to @contrato.cliente, :class => "btn btn-info btn-sm rounded-s" do %>
                <i class="fa fa-eye"></i>&nbsp;&nbsp;Ver Cliente
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>