<aside class="sidebar">
  <div class="sidebar-container">
    <div class="sidebar-header">
      <div class="brand">
        <a href="<%= root_path %>"><div class="logo"> <img src="/assets/logo.png" draggable="false" style="-moz-user-select: none;"></div></a>
      </div>
    </div>
    <nav class="menu">
      <ul class="nav metismenu" id="sidebar-menu">
        <%= nav_link ' Painel Inicial ', root_path, 'home' %>
        <li class="<%= 'active open' if params[:controller] == 'clientes' %>">
          <a href=""> <i class="fa fa-users"></i> Clientes <i class="fa arrow"></i> </a>
          <ul>
            <%= nav_link ' Adicionar Cliente ', new_cliente_path, 'nil' %>
            <%= nav_link ' Listar Clientes ', clientes_path, 'nil' %>
          </ul>
        </li>
        <li class="<%= 'active open' if params[:controller] == 'planos' %>">
          <a href=""> <i class="fa fa-th-large"></i> Planos <i class="fa arrow"></i> </a>
          <ul>
            <%= nav_link ' Adicionar Plano ', new_plano_path, 'nil' %>
            <%= nav_link ' Listar Planos ', planos_path, 'nil' %>
          </ul>
        </li>
        <li class="<%= 'active open' if params[:controller] == 'contratos' %>">
          <a href=""> <i class="fa fa-file-text-o"></i> Contratos <i class="fa arrow"></i> </a>
          <ul>
            <%= nav_link ' Adicionar Contrato ', new_contrato_path, 'nil' %>
            <%= nav_link ' Listar Contratos ', contratos_path, 'nil' %>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <footer class="sidebar-footer">
  </footer>
</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>